.btn {
  margin: 4rem;
}
.modal-body {
  text-align: right;
}
.yes {
  margin-right: 1rem;
}
.modal-header {
display: block;
}
h3 {
  text-align: left;
}
.closer {
  display: block;
  margin: 0 0 0 auto;
}